body{

	width:1024px;
	margin: 0 auto;
}

#tbluser{

	width: 800px;

}

table#tbluser th{
	border:1px;
	background-color: silver;
}

table#tbluser {
	border: 1px solid grey;
	
}

#appl{
	margin-top: 40px;


}
